.container {
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
}

/*?Ejemplo simple de un overlay sobre una foto real*/

.padre-1 {
  position: relative; /*Este position lo ponemos para que la caja padre de overlay sea esta, padre-1, y NO la raiz...puesto que si todos los ancestros de overlay tienen position static, el padre de overlay será pro defecto la caja raiz, el navegador*/
  
  width: 300px; /*Si ponemos un widht inferior al tamaño de la foto, la foto se adapta al tamaño del width...pero solo y únicamente por el reset css que le hemos puesto*/

  overflow: hidden; /*lo qu ehay fuera de los bordes del padre no se ve, hasta que entra...*/
}

.overlay {
  position: absolute;
  top: 0px;
  background-color: rgb(255 0 0 / 0.5);
  height: 100%;
  width: 100%;
  opacity: 0; /*Cuando es 0 no se ven los cambios*/
  transition: opacity 0.5s ease; /*esto para hacer la transción más flama*/

  
}

.overlay:hover {
  opacity: 1; /*cuando ponemos el cursor encima de la imagen (hover) opasicity vuelve a ser 1 y se ven los cambios*/
}

.tittle {
  position: absolute; /*Al poner absolute el h3 ocupa lo que un display inline, pero sigue siendo un display block*/

  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 3px solid blue; */
  color: gold;
  opacity: 0;
  transition: top 0.7s ease-in;
}

/*Aquí solo se pone opacitiy en 1 cuando pones el cursor sobre la caja del tittle...FALLO*/
.tittle:hover {
  opacity: 1;
}

/*De la siguiente manera, tanto overlay como tittle, (que son hijos de padre), se pondrán en opacity 1 cuando el cursor esté encima de todo el padre en sí*/
.padre-1:hover > .tittle { /** Esto significa que afecta al hijo tittle del padre-1*/
  opacity: 1;
  top: 50%;
}
.padre-1:hover > .overlay {
  opacity: 1;
}