.fondo-rosa {
  background-color: pink;
}

.fondo-gold {
  background-color: gold;
}

.inline {
  display: inline;
}

/*=================================================================*/

/**Displays más básicos*/
.block {
  display: block;
}

.none {
  display: none;
}


/*================================================================*/

/**Tamaño de cajas*/

/*El 50% del div será el 50% con respecto a su padre, el body*/
div.padre-1 {
  /*?Anchos*/
  width: 50%;
}

/*El 50% de p será el 50% de lo que ocupe su padre...en este caso el div*/
p.hijo-1 {
  /*?Anchos*/
  width: 200px; /*de esta forma es un tamaño fijo con respecto al padre*/
  width: 50%; /*de esta forma es un tamaño variable con respecto al padre*/

  /*?Altos*/
  height: 200px; /*Altura fija*//*!NADA RECOMENDABLE*/
  height: 50%; /*Salvo que pongas una altura fija al div (que es el padre de p) no verás que cambie el height cuando uses un porcentaje*/
  height: auto; /*Lo recomendable es dejarlo en auto*/
}

/*==============================================================*/

/**Tamaños máxims y mínimos --> TOPES*/

.caja-1 {
  background-color: pink;
  height: 200px;
  width: 50%;
  /*Máximo que le ponemos al ancho*/
  max-width: 500px;
  min-width: 300px;
}

.img-1 {
  width: 50%;
  max-height: 300px;
  min-height: 200px;
  
  object-fit: cover; /*evita que la imagen se deforme, te la recorta por tal de no deformarla*/
}

/*==============================================================*/
/*?PADDING */
/**El padding es el espacio que hay enttre lo que ocupa el contenido y el borde de la caja */

.boton-1 {
  text-decoration: none; /*lo tipico de quitarle el subrayado al link*/
  color: red;
  background-color: gold;
  /*Añadimos espacios por orden de reloj, alrededor de la caja que ocupa el texto*/
  padding-top: 5px; 
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 5px; 

  /*Si usamos solo padding sin especificar zona de la caja, el padding respetará el orden de las agujas del reloj, por lo que lo de arriba y esto de abajo es lo mismo:*/
  padding: 5px 10px 8px 5px;
  /*Si alguna vez ves 3 valores en el padding es porque el de en medio tiene el mismo valor para izquida y derecha*/
  padding: 10px 20px 10px ;
  /*Si solo hay dos valores en el padding el primero es para arriba y abajo del padding y el segundo es para la izquierda y derecha del padding*/
  padding: 10px 20px;
  /*Si solo hay un valor es porque es el mismo valor de apdding para todos los margenes del padding*/
  padding: 5px;
}
/*==============================================================*/
/*?BORDER */
/**Es el borde de la caja, lo que envuelve el padding*/

.border-1 {
  /*A partir de ahora siempre deberemos empezar un parrafo on un padding*/
  padding: 5px;
  color: red;
  background-color: gold;

  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-style: dotted;
  border-style: dashed;

  /*Ancho, estilo de borde, color*/
  border: 2px solid black;
}

/*==============================================================*/
/*?MARGIN */
/**Es el espacio que hay entre mi caja y las siguientes cajas, es decir por fuera del BORDER*/

.margin {
  background-color: blue;
  color: white;
  padding: 5px;
  margin: 0;
}

.margin-1 {
  /*funciona como el padding respecto al orden de los parámetros*/
  margin: 10px;
}
  
.margin-2 {
  margin: 10px; 
}

/*==============================================================*/
/*?OUTLINE */
/**Se encuentra entre el border y el margin, l diferencia que tiene con el border es que, al crecer sumandole px, NO mueve las cajas de alrededor, cosa que sí hace el border al crecer*/
.boton-outline {
  background-color: blue;
  color: white;
  padding: 5px;
}
/*ejemplo de como el border separa las cajas del boton1 y boton2*/
.btn1 {
  border-width: 20px;
  border-style: solid;
  border-color: black;
}
/*ejemplo de como el outline no influye en la distancia de las cajas*/
.btn2 {
  outline: 50px;
  outline-style: solid;
  outline-color: red;
}


/*==============================================================*/
/*?Box-sizing */
/*Las cajas por defecto, para saber el ancho que ocupan, tenemos que sumar su WIDTH + PADDING + BORDER*/

.caja-sizing { 
  background-color: pink;
  border: 5px solid black; 
  padding: 10px; 
}

.sizing-1 {
  width: 120px;/*acorta el tamaño de la caja que lo contiene, puesto que se trata de un tipo block*/
  box-sizing: content-box; /*content-box muestra el tamaño de la caja que se ve por defecto, que es la suma de los 120px del width + (5+5)px de cada lado del border + (10+10)px de cada lado del padding....por lo que al inspeccionar(F12) la pagina web, beremos que esa caja ocupa un total de 150px*/
}

.sizing-2 {
  width: 120px;
  box-sizing:border-box;/*Con border-box, limitamos el contenido de la caja a lo que marca el width, es decir, solo 120px...contando en esos 120px ya lo que ocupa el border y el padding */
}

/*==============================================================*/
/*?OVERFLOW */

.overflow {
  background-color: brown;
  width: 150px; /*limito el tamaño de la caja a 150px*/
  height: 200px; /*la caja de alto se me quedaría corta, por lo que parte del texto se quedaría fuera...esto lo podemos solucionar con OVERFLOW...*/

  overflow: visible; /*se queda tal cual, por defecto.*/
  overflow-y: scroll; /*te pone una barra de scroll en el eje y para evitar que se quede texto fuera*/
  overflow: hidden; /*te corta el texto si el tamaño de la caja es menor que lo que ocupa el texto*/
  overflow-y: auto; /*te pone un scroll solo cuando lo necesite el tamaño de la caja*/
}

/*==============================================================*/
/*?TRUCO para centrar caja*/

.centrar {
  border: 2px solid black;
  background-color: brown;
  width: 70%;
  text-align: center;
  /*De esta dos formas puedes centrar la caja del div*/
  /*forma 1*/
  margin-left: auto;
  margin-right: auto; 

  /*forma 2*/
  margin: auto;
}