/*Ponemos todo el texto de la web en arial, bold y centrado*/
body {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

/*Los parrafos en mayusculas*/
p {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

.aliquam {
  background: url("https://picsum.photos/id/47/500/?grayscale") center/cover; /*imagen de internet, centrada y que ocupe todo el parrafo sin dividirse*/
}

.tempus {
  background-color: rgb(72, 200, 209);
}

.magna {
  background: linear-gradient(125deg, rgb(216, 43, 72) 15%, blue); /*fondo con dos colores y una inclinacion de 1125 grados entre ellos*/
}

.ipsum {
  background: linear-gradient(to right, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url("https://picsum.photos/id/10/400") center/cover; /*una imagen de fondo con transparencias(rgba) al 0.5 de dos colores, centrada y con cover par que ocupe todo el parrafo*/
}

.consequat {
  background: linear-gradient(rgb(255, 0, 0, 0.35), rgba(252, 0, 0, 0.3)), url("https://picsum.photos/id/49/400") center/cover;
}