body {
  font-family: 'Arial' sans-serif;
}

summary > h2 {
  display: inline;
}

.container {
  border: 2px solid  black;
  /** MEdidas en pixeles y en % */
  max-width: 600px;
  width: 70%;
}

/**? Medidas en  % */
.padre-1 {
  border: 2px solid black;
  width: 50%;
}

.hijo-1 {
  border: 2px solid crimson;
  width: 50%;
}

/**? Medidas en VIEWPORT (medidas respecto a la pantalla blanca, NO respecto a la de su padre como ocurre con los pixeles y %)*/

.padre-2 {
  border: 2px solid black;
  width: 50vw; /*No es la mitad del container, es la mitad de la pantalla blanca*/
  height: 40vh;
}

.hijo-2 {
  border: 2px solid crimson;
  width: 30vw; /*No es la mitad del padre-2...es la mitad de la pantalla blanca*/
  height: 30vh;
}

/*? Valores REM */
/** Es un valor que se multiplica por el font-size que tenga la etiqueta raiz, es decir <html>. Si no tuviera un font-size establecido a posta, se usará el tamaño por defecto (16px) */

h3.rem {
  font-size: 1rem; /*En este caso 1rem = 16px...puesto que obtendría el valor por defecto del font-size de la raiz <html> que viene por defecto*/
}

html {
  font-size: 20px;
}

h3.rem {
  font-size: 1rem; /*Ahora 1rem = 20px, puesto que equivaldría al font-size establecido por nosotros 2 rem equivaldrá a 40px*/
  font-size: 1rem;
}

/*? Valores EM */
/** Es un valor que se multiplicará por el valor del font-size más cercano (NO EL DE LA RAIZ COMO LOS REM),*/ 
/*!incluido el font-size de sí mismo*/

h3.em-padre {
  font-size: 2em; /*Este font-size es 2*(el font-size más cercano que tenga por encima de él), es decir, el font-size de su padre, que es container, pero container no tiene un font-size impuesto por él, container tiene el font-size heredado de html, que es el siguiente font-size más inmediato, en este caso un font-size puesto por nosotros más arriba de 20px...por lo que el font-size de este h3 será 2*20 = 40px*/
}

span.em-hijo {
  color: hotpink;
  font-size: 2em; /*En este caso será un font-size será 2*el tamaño de el font-size de su padre...es decir, del h3 de arriba, 40px...por lo que en este caso 2*40px*/
}


/**Ejemplo con botones normales sin usar EM*/
.btn {
  background-color: gold;
  border: 2px solid black;
  font-size: 16px;
  padding: 5px 10px;
}

.btn-xl {
  font-size: 20px;
  border: 3px solid black;
  padding: 7px 13px;
}

.btn-sm {
  font-size: 10px;
  border: 1px solid black;
  padding: 3px 7px;
}

/**Mismo ejemplo pero usando EM*/
/*!Estableciendo en la clase que comparten los tres botones (btn-em) un font-size...en el resto bastará con modificar el valor font-size modificacndo el valor em (que por defecto es el que marca la clase general btn-em en este caso)...así todos los valores como border y padding no habrá que sobreescribirlos si le queremos modificar el tamaño, basa con mdificar el font-size de la clase en particular que queramos ver modificada*/
.btn-em {
  font-size: 16px;
  background-color: crimson;
  border: 0.2em solid black;
  padding: 0.5em 1em; */
}

.btn-xl-em {
  font-size: 2em;
}

.btn-sm-em {
  font-size: 0.5em;
}