.inline {
  display: inline; /*esto es solo para transformar el h2 del summary en inline*/
}




/*? SELECTORES */
/**Los selectores son las etiquetas que usamos antes de los corchetes{} como clases*/


/*? TIPOS DE SELECTORES */
/**Selectores Universales*/
* {
padding: 0;
box-sizing: border-box;
}

/** Por etiqueta */
body {
  font-family: 'Arial' sans-serif;
}

/** Por su class */
.titulo {
  color: indigo;
}

/** Por su ID */
#supertitulo {
  text-decoration: underline;
}

/** Mezclando etiquetas sin poner espaciones (de esta manera aumentamos la especificidad */
h1.titulo#supertitulo {
  font-variant: small-caps;
}

/** Propiedades duplicadas */
h2, h3 {
  letter-spacing: 2px;
}

/* ====================================================*/
/*? ==================== COSAS NUEVAS DE SELECTORES==========================*/

/** Por su atributo */
[placeholder] {
  color: tomato;
}

/** Por su atributo y su valor */
[type="email"] {
  border: 2px solid crimson;
}


/** Por coincidencia en el valor de un atributo */
/*Por ejemplo atributo id que empiecen por la palabra "nom" usando ^= */
[id^= "nom"] {
  border: 2px solid green;
}

/*Un atributo que termine por... $= */
[name$="eto"] {
  padding: 5px;
}


/*? ============ COMBINACION DE SELECTORES =============*/

/** Hermanos ADYACENTES (es decir, que estén uno al lado del otro) */

h2 + h3 { /*es decir, los h3 que estén inmediatamente después de un h2 se pondrán en rojo*/
  color: red;
}

/* Otro ejemplo.... */
/*En este caso se modificarán los inputs adyacentes a un label, es decir, que estén debajo de un label, a eso se le llama que son HERMANOS*/
label + input[type="text"] {
  box-shadow: 2px 0 0 3px yellow; /*sombreado*/
}


/** HERMANOS GENERALES */
/*Es decir, no tiene que estar inmediatamente debajo de su hermano para ser modificado, basta conque esté en algún punto debajo de él*/

h3~p { /*cambiaran a color lightsalmon todos los párrafos que estén, en algún punto, debajo de un h3*/
  color: lightsalmon;
}

/** HIJOS DIRECTOS */
/*Es decir, los li directos que contenga el ul con clase lista (A los li con SUBITEMS no se les pondrá un border porque no son hijos directos de ul) */
ul.lista > li {
  border: 2px solid black;
}

/** Hijos GENERALES o DESCENDIENTES en general */
/*Es decir, dentro del ul con clase lista, a cualquier li que haya se le pondrá un sombreado verde*/
ul.lista li {
  box-shadow: 0 0 10px 3px green;
}




/*? PSEUDOSELECTORES */

/** Seleccionar el primer o último hijo usando -->  :first-child o :last-child */

ul.lista-3 li:first-child {
  color: red;
}

ul.lista-3 li:last-child {
  color: blue;
}

/** Estilos con CSS para una tabla */
table {
  border-collapse: collapse; /*te junta las filas y columnas*/
  border: 2px solid black;
  margin: 20px;
}

tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

.table-1 tr:first-child {
  background-color: lightgray;
}
  
.table-1 tr:last-child td:last-child {
  background-color: red;
}

/** PAra un elemento intermedio --> :nth-child (n) */
.table-1 tr:nth-child(3) {/*tercera fila*/
  background-color: rgb(0 255 0 / 0.3);
}

/**Para las filas pares (even) */
.table-2 tr:nth-child(even){
  background-color: rgb(0 0 255 / 0.3);
}

/**Para las filas impares (odd) */
.table-2 tr:nth-child(odd) {
  background-color: rgb(255 0 0 / 0.3)
}


/** :nth-child(n) */
.table-3 tr:nth-child(n+2) { /*n=0 en la primera vuetla, n=1 en la segunda, n=2 en la tercera...etc*/
  background-color: lightgreen;
}

.table-3 tr:nth-child(2n){
  color: blue;
}

/** PARA NEGAR :not() */
.menu {
  border: 1px solid black;
  padding: 10px;
  list-style: none;
}

.menu li { /* Los li que contengan la clase menu */
  background-color: lightgray;
  padding: 5px;
  width: 70%;
  text-align: center;
  margin: 5px auto;
}

.menu li:not(:nth-child(2)) { /*De esta manera excluimos al li hijo número 2 de tener un borde crimson */
  border: 1px solid crimson;
}

.menu li:not(.sin-color) { /* Toodos tienen color azul MENOS el li que tiene la clase "sin-color" */
  color: blue;
}

.link {
  text-decoration: none;
  color: purple;
  padding: 5px;
}

.link:not(:last-child) { /*toodos los hijos del div, con clase link, tendrán border-bottom menos el último*/
  border-bottom: 1px solid black;
}


/*? Pseudoselectores por cambios de estado */
button {
  background-color: yellow;
  padding: 5px 10px;
  border: 0;
  font-size: 20px;
}

/** Estilos que se le van a poner al boton cuando estamos encima de él --> :hover */

.boton-1:hover {
  background-color: lightgray; /* Se pone gris cuando pones el cursor encima */
  border: 1px solid black; /*se le pone un borde tmb*/
}

/** Estilos que se le van a activar sobre el boton mientras estemos haciendo click sobre él --> :active */
.boton-2:active { 
  background-color: indigo;
  color: white;
}

/** Estilos que se le van a activar al input en este caso una vez que cliquemos sobre él...y dichso cambios permanecerán hasta que cliquemos en otro lugar :focus */
input.focus {
  padding: 5px 10px;
  outline: none; /*Sin esto aparece un borde negro por defecto que no hemos puesto nosotros...si lo quieres quitar debes poner autline = none*/
}

input.focus:focus {
  border: 5px solid yellow;
}


/*? PSEUDOELEMENTOS */
/*! Van siempre con DOS PUNTOS :: */

/* Para que el placeholder sea modificado usamos ::placholder */
input[type="text"].focus::placeholder {
  color: red;
} 

/* Para que afecte a todos los placeholder */
/*!El color del placeholder de focus no se ve afectado puesto que su especificidad es mayor*/
::placeholder {
  color: blue;
  font-size: 20px;
}


/** Para cambiar los marcadores de una lista usamos ::marker */
ul.lista-4 {
  padding-left: 25px; /*Un padding a la izquierda apra que se vean los puntos*/
}

ul.lista-4 li::marker {
  content: '-->'; /*cambiamos el marcador por un '-->' */
} 

/** Para cambiar la primera letra (::first-letter) de un texto y la primera línea (::first-line) */
p.primera-letra::first-letter {
  font-size: 25px;
  color: crimson;
}

p.primera-linea::first-line {
  color: lightblue;
}

/**Para que cambie de color lo selecionado con el raton (::selection) */

p.selection::selection {
  background-color: yellowgreen;
  color: crimson;
}

/** En el caso de que queramos aue todo el texto de la página sea un selection */
::selection {
  background-color: brown;
  color: yellow;
}

ul.lista-4 li {
  background-color: blue;
}

/**  Uso del ::before y ::after */
.antes-despues{
  background-color: crimson;
  text-align: center;
  width: 400px;
  padding: 10px;
  margin: 20px auto;
}

h3.antes-despues::before {
  content: '✌'; /*para que aparezca algo hay que meterlo en content: '';  */
}

h3.antes-despues::after {
  content: '👍';
  display: inline-block; /*para poder cambiar el tamaño de la caja que ocupa*/
  width: 50px;
  background-color: green;
}