/* Para usar la fuente ROboto */
body {
  font-family: 'Roboto', sans-serif;
  margin: auto; /*así centramos el body a mitad de la pantalla*/
  max-width: 600px; /*Como máximo tamaño de caja en el body será de 600px*/
  background-color: lightsalmon; /*fondo del body en salmon*/
}

/* Títulos con fuente Roboto 700 */
h1, h2, h3 {
  font-weight: 700;
} 

/*Texto con fuente Roboto 400*/
p {
  font-weight: 400;
  border-bottom: 5px dashed black;
  padding-bottom: 80px; /*Aumentamos el padding de la parte de abajo de la caja para distancias el borde de ella*/
}

/*Diseño titulo h1*/
h1 {
  background-color: black;
  color: white;
  text-align: right;
}

/**Diseño header*/
.navegador {
  background-color: white;
  padding: 10px 30px; /*para que la caja correspondiente a la etiqueta nav esté separada de la caja del body*/
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none; /*le quitamos el subrayado a los links*/
  color: black; /*letras de los links en negro*/
  font-weight: bold; /*letras en negrita*/
}

li {
  background-color: lightgray; /*caja que ocupa el li en gris*/
  padding: 5px; /*necesario para que las letras no esten pegadas por arriba y abajo a la caja correspondiente a los li*/
  margin: 5px; /*separación entre cajas de los li*/
}

/**Diseño main*/
main {
  background-color: white;
  margin-top: 20px; /*separacion entre las cajas header y main*/
  padding-inline: 50px; /*le añadimos un padding a la caja main por ambos lados para que este separada de los limetes de la caja*/
}

h2 {
  text-align: center;
  padding-top: 80px; /*aumentamos mas margen superior en los titulos h2 para añadir separacion*/
  border-bottom: 5px solid lightgray; /*pintamos de gris el borde inferior de los h2*/
}

h3 {
  text-align: center;
  background-color: lightsalmon;
  color: white;
  width: 110px; /*yendo a la web vemos que el tamaño de la caja que contiene el h3 es de 500px, por lo que reducimos el tamaño de la caja con width*/
  margin: auto; /*centramos la caja dandole un margen auto*/
}


