/*?Etilo para textos*/
/**Tipo de letra, fuente, familia de la fente -> font-family*/
/*la propiedad font-family permite que escribamos varias fuentes seguidas separadas por coma, para que en el caso de que no encuentre la primera, busque y use la siguiente...*/
/*Si vas a poner una fuente a mano, cuyo nombre esta compuesto por varias palabras separadas, usa '' para que se identifique como una unica fuente(como has heco con 'Times New Roman')*/
h1 {
  font-family: 'Arial', 'Times New Roman';
}

/*!Si quiero que TODA mi página web tenga el mismo de letra (salvo que haya especificado algo distinto en alguna etiqueta) especificaremos que todo el body tenga una misma fuente 

  body {
    font-family: 'Montserrat';
  }

*/

/**Tamaño de la letra -> font-size*/
h1 {
  font-size: 20px;
}

/**Grosor o peso de la letra -> font-weight */
h1 {
  font-weight: normal;
  font-weight: bold;
  font-weight: 500;
}

/**Una manera de poner en negrita una palabra de cualquier texto, sin usar la etiqueta <strong></strong>, es: en el texto usamos la etique span y le añadimos un class, y aquí modificamos el font-weight de esa clase.*/

.negrita {
  font-weight: bold;
}

/**Estilo de letra -> font-style */
h1 {
  font-style: italic; /*cursiva*/
  font-style: normal; /*lo deja normal*/
}

/**Espacio entre letras --> letter-spacing*/
blockquote {
  letter-spacing: 2px;
}

/**Decoracion de letra -> text-decoration*/
h2 {
  text-decoration: none; /*qu eno haya nada*/
  text-decoration: overline; /*subrayado por encima*/
  text-decoration: underline; /*subraya por abajo*/
  text-decoration: line-through; /*tacha la palabra*/
}

a {
  text-decoration: none; /*quita el subrayado que viene por defecto en el link de las etiquetas "a"*/
}

/**Altura de línea -> line-height*/
.parrafo1 {
  line-height: 10px;
  line-height: 1.7;
}

/**Forzar mayusculas, minusculas, capitalizadas y small-caps -> text- transformation*/
h2 {
  text-transform: uppercase; /*la pone en mayus*/
  text-transform: lowercase; /*la pone en minusculas*/
  text-transform: capitalize; /*Pone la primera letra de cada palabra en mayusculas*/
  font-variant: small-caps /*Pone todo en mayusculas, pero la que hayas puesto tú en mayusculas se ve más grande*/;
}

/**Alineación del texto -> text-align*/
.left {
  text-align: left;
  border: 1px solid red;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

/*De esta manera jusificamos el texto de todas las etiquetas p*/
p {
  text-align: justify;
}


/*?RESUMEN*/
.ultimo-p {
  font-family: 'Roboto', sans-serif; /*si no encunetra la fuente Roboto pone cualquier fuente del estilo sans-serif*/
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 2px;
}

/*?Añadir fuentes externas a mi web*/
/**En la web de Google Fonts*/

/**1. Previamnete escribimos el link de la fuente obtenida desde Google Font en el head del .html...y para implementar la fuente añadida a la web hacemos esto:*/
.ultimo-p {
  font-family: 'Mali';
}

/**2. Descargando la fuente como archivo desde Google Font y cargandola desde aquí con @font-face*/
/**@font-face es para crear una fuente descargada*/
@font-face {
  font-family: 'Courier Prime'; /*Este nombre puedes poner lo que quieras, estamos creando la fuente*/
  src: url(../assets/fonts/CourierPrime-Regular.ttf);
  font-weight: 400;
}

/**Para usar otra fuente descargada de la misma familia (solo que en negrita como en este caso) hay que crear otro @font-face PEEEROO sin cambiar el nombre de la familia, puesto que es la misma, solo modificamos su correspondiente carasteristica con respecto al otro @font-face (que en este caso es el grosor, font-weight*/
@font-face {
  font-family: 'Courier Prime'; /*Este nombre puedes poner lo que quieras, estamos creando la fuente*/
  src: url(../assets/fonts/CourierPrime-Bold.ttf);
  font-weight: 700;
}

/**Creamos la cursiva de esta familia, que tambien hemos descargado*/
@font-face {
  font-family: 'Courier Prime';
  src: url(../assets/fonts/CourierPrime-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

/*Aquí de esta manera estariamos usando el archivo "Regular"*/
.left{
  font-family: 'Courier Prime';
  font-weight: 400;
}
/*En este caso estamos usando el archivo "Bold"*/
.right{
  font-family: 'Courier Prime';
  font-weight: 700;
}
/*Y en este caso el archivo "Italic"*/
.center{
  font-family: 'Courier Prime';
  font-weight: 400;
  font-style: italic;
}